<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <div class="w-screen h-screen flex">
        <nav class="p-4 h-full flex flex-col gap-2 items-center bg-black text-white justify-end">
         <a href="/" >Home</a>
         <a href="/about">About</a>
         <a href="/contact" class="text-red-500">Contact</a>
         <a href="/resources">Resources</a>
         <a href="/blog" >Blog</a>
        </nav> 
        </div>
    <h2>Contact me</h2>
</body>
</html>